<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %> <!-- Static Header -->

    <main>
        <%- include(body) %> <!-- Dynamic Page Content -->
    </main>

    <%- include('partials/footer') %> <!-- Static Footer -->
</body>
</html>
